.myGrid {
	width: 100%;
	min-height: 50%;
	resize: vertical;
	overflow: scroll;
}

.chartContainer {
	width: 700px;
	max-height: 700px;
	margin-bottom: 300px;
}

.page-title {
	margin-bottom: 30px;
}

