<div class="container">
	<h1 class="text-center">Home view</h1>

	<!-- Styled button later triggers this button -->
	<input type="file" name="file-input" accept=".csv" style="display: none;" id="file-input">

	<!-- import data -->
	<!-- chart and variable selection -->
	<form class="form-horizontal">
	  <div class="form-group">
	  	<div class="col-sm-2">
		  	<!-- trigger html5 button above -->
		  	<input type="button" value="Import Data" onclick="$('#file-input').click()" class="btn btn-primary btn-lg">
	  	</div>
	    <label for="chart-type" class="col-sm-1 control-label">Chart</label>
	    <div class="col-sm-3">
				<select ng-model="chartType" ng-change="updateChart(chartType)" id="chart-type" class="form-control">
					<option value="column2d">Column chart</option>
					<option value="line">Line chart</option>
					<option value="pie2d">Pie chart</option>
				</select>
	    </div>
	    <label for="labels" class="col-sm-1 control-label">Labels</label>
	    <div class="col-sm-2">
				<select ng-model="labels" ng-change="updateLabels(labels)" id="labels" class="form-control" ng-options="var.field for var in grid.columnDefs">
				</select>
	    </div>
	    <label for="values" class="col-sm-1 control-label">Values</label>
	    <div class="col-sm-2">
				<select ng-model="values" ng-change="updateValues(values)" id="values" class="form-control" ng-options="var.field for var in grid.columnDefs">
				</select>
	    </div>
	  </div>
	</form>

	<!-- grid -->
	<div ui-grid="grid"
			 class="myGrid center-block"
			 ui-grid-auto-resize
			 ui-grid-resize-columns
			 ui-grid-move-columns></div>

	<!-- chart -->
	<div ng-switch="chartType">
		<div id="chart",
	    fusioncharts
	    ng-switch-when="column2d"
	    width="600"
	    height="400"
	    type="column2d"
	    datasource="{{chartSource}}"
    ></div>
		<div id="chart",
	    fusioncharts
	    ng-switch-when="line"
	    width="600"
	    height="400"
	    type="line"
	    datasource="{{chartSource}}"
    ></div>
		<div id="chart",
	    fusioncharts
	    ng-switch-when="pie2d"
	    width="600"
	    height="400"
	    type="pie2d"
	    datasource="{{chartSource}}"
    ></div>
		<div ng-switch-default>Please select a chart type</div>
	</div>

	<button class="btn" ng-click="logVisibleRows()">Log visible rows</button>
</div>

















