<!-- todo: toggle login/register and logout -->

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img alt="Data Explorer" src="...">
      </a>
    </div>
	  <ul class="nav navbar-nav">
	    <li><a href="/">Workspace</a></li>
	    <li class="active"><a href="/#/saved">Saved<span class="sr-only">(current)</span></a></li>
	  </ul>
	  <div class="nav navbar-nav navbar-right">
			<li><a href="#">Login/Register</a></li>
			<li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">[Current User]<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Logout</a></li>
        </ul>
      </li>
    </div>
  </div>
</nav>

<div class="container">
	<h1 class="text-center page-title">Saved</h1>

<!--   <div class="row">
    <div ng-repeat="dataset in datasets">
      <div class="col-sm-4">
        <h4 class="text-center">{{dataset.name}}</h4>
        <table>
          <thead>
            <tr>
              <th ng-repeat="(key, value) in dataset.data[0]">{{key}}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in dataset.data">
              <td ng-repeat="(key, value) in row">{{value}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div> -->
  <div class="row">
    <div ng-repeat="dataset in trimmedDatasets">
      <div class="col-sm-4">
        <h4 class="text-center">{{dataset.name}}</h4>
        <div ui-grid="dataset.grid"></div>
      </div>
    </div>
  </div>
</div>












